<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex complet en français</title>
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://kit.fontawesome.com/135f56d4f1.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Pokedex</a></li>
                <li><a href="#">Catégories</a></li>
                <li><a href="#">Evolution</a></li>
                <li><a href="#">Films</a></li>
            </ul>
            <div class="search">
                <input type="search" id="site-search" name="q" />
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <a href="#">Me connecter</a>
        </nav>
    </header>
    <main>