<%- include('../partials/header') %>

    <h1> <%= title %> </h1>

    <div class="presentation">
        <img src="#" alt="">
        <div>
            <h2>Présentation de name </h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic repellat, iusto amet asperiores dolor ea sequi enim necessitatibus esse nisi deleniti? Animi reiciendis esse culpa similique fuga architecto, totam nisi!</p>
        </div>
    </div>
        

<%- include('../partials/footer') %>